/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-philipjohn-pj-progress-bar {
	border: 1px solid black;

	.pj-progress {
		display: flex;
		background-color: black;
    	color: white;

		.pj-progress-level {
			font-size: inherit;
		}

		.components-text-control__input {
			width: 2.5em;
			font: inherit;
			background: transparent;
			border: none;
			color: inherit;
			line-height: 1em;
			text-align: right;
		}
	}
}
